* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: orange;
  color: white;
  text-transform: capitalize;
  border-radius: 1rem;
}

body {
  background-color: whitesmoke;
}
.app {
  padding: 4rem;
  max-width: 1200px;
  margin: 0 auto;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 3rem;
  text-transform: uppercase;
}
.books-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.book-card {
  max-width: 300px;
  text-align: center;
  padding: 2rem 1rem;
  box-shadow: 0px 0px 8px 3px gray;
  position: relative;
  background-color: white;
}

.book-card img {
  max-width: 100%;
}

.book-card h2 {
  margin: 0.5rem 0;
}

.book-card p {
  margin-bottom: 1rem;
  color: #777;
}

.book-card .book-number {
  position: absolute;
  top: 0;
  left: 0;
  clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
  background-color: brown;
  color: white;
  padding: 0.5rem 1rem;
}
